# History files
.Rhistory
.Rapp.history
.DS_Store

# Session Data files
.RData

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/
*.log

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# markdown outputs
deSousa_K_PhD_thesis.pdf
deSousa_K_PhD_thesis.docx

library/agroforestry-options.bib
library/gosset.bib
library/cip.bib

# large files
data/research_sites/
data/examples/
formals/comments_rev/